MONGO_URL=mongodb://localhost:27017
DB_NAME=fisilti
CORS_ORIGINS=http://localhost:3000
COOKIE_SECURE=false
ADMIN_EMAIL=admin@fisilti.com
ADMIN_PASSWORD=Admin1234!
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
BLOCKED_TERMS=
